@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Inter', sans-serif;
    background-color: #777777;
    color: white;
    font-size: 16px;
    --main-color: #5f59bb;
    --main-color-light: #A8A4D4;
    --main-color-dark: #2D2A4A;
    --secondary-color: #b1aca8;
    --contrast-color: #5A8F51;
    --backgroud-color: #777777;
    --border-size: 2px;
    --border-radius: 16px;
    --padding: 16px;
    --box-shadow: 0 0 6px var(--secondary-color);
    --default-transition: 0.2s ease-in-out;
}

.link {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.link:hover {
    color: var(--main-color-light) !important;
}

.darker {
    color: var(--main-color-dark);
}

.error {
    color: #d32029;
}

.success {
    color: #49aa19;
}

.main {
    color: var(--main-color)
}

.bold {
    font-weight: 600;
}

.secondary {
    color: var(--secondary-color);
}

.break-word {
    word-wrap: break-word;
    overflow-wrap: break-word;
}