.clients-listing {
    padding: 0 25px;
    padding-bottom: 12px;
}


.clients-listing__list li {
    list-style-type: none;
    position: relative;
    padding-left: 20px;
    width: 300px;
}

@media screen and (max-width: 850px) {
    .clients-listing__list li {
        width: auto;
    }

    .clients-listing ul {
        padding-inline-start: 0px;
    }
}

.clients-listing__list li p {
    margin: 0;
}

.clients-listing__list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: var(--main-color-dark);
    font-size: 1.5em;
    line-height: 1;
    top: 50%;
    transform: translateY(-50%);
}

.sort-section {
    padding: 0 25px;
    padding-bottom: 12px;
}

.sort-section__b {
    padding-right: 12px;
}