.add-new-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.add-new-order div {
    width: 450px;
}

@media screen and (max-width: 450px) {
    .add-new-order div {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .add-new-order div {
        max-width: 200px;
        width: auto;
    }
}