.add-new-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

/* @media screen and (max-width: 450px) {
    .add-new-employee div {
        width: auto;
    }
} */