.loading-spin {
    position: fixed;
    /* Możesz użyć też position: absolute; jeśli to potrzebne */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 1000;
    /* Opcjonalnie, jeśli chcesz, aby spinner był nad innymi elementami */
}