.footer {
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
}

.footer > button {
    padding: 18px;
    font-size: 1.2em;
    border: var(--border-size) solid var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}