.search-section {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.search-section--add-new {
    width: 10%;
    padding-left: 20px;
}