.search-section {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.search-section--add-new {
    width: 10%;
    padding-left: 20px;
}

.section__logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listing-logo {
    max-height: 400px;
    max-width: 400px;
}

@media screen and (max-width: 699px) {
    .listing-logo {
        display: none !important;
    }
}

.products__list {
    padding-bottom: 12px;
}