@import "../../global.css";

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.home__container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__background {
    width: 50%;
    background-image: url("/home-background.jpg");
    background-size: cover;
    background-position: top center;
    height: 100vh;
}
.home__title {
    border: var(--border-size) solid var(--secondary-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    box-shadow: var(--box-shadow);
}

.home__title--color {
    color: var(--main-color-dark);
    padding-left: 7px;
}

.home__title__icon {
    padding: 2px 4px;
    vertical-align: middle;
}

.home__navigation--spacing {
    padding: 0 7px;
}

@media (max-width: 1024px) {
    .home__container {
        width: 100%;
    }
    .home__background {
        display: none;
    }
}

@media (max-width: 767px) {
    .home__title {
        width: 90%;
        margin-bottom: 35%;
    }

    .home__title__icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}