.add-new-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

/* .add-new-product div {
    width: 550px;
} */

/* @media screen and (max-width: 620px) {
    .add-new-product div {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .add-new-product div {
        max-width: 200px;
        width: auto;
    }
}  */

.add-new-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 10;
}

/* .form__container{
    width: 550px;
} */